<%= link_to "VenShop", home_path, :class => 'brand' %>
<ul class="nav">

    <li>
    <%= link_to('Sign in', signin_path) %>
    </li>

    <li>
    <%= link_to('Sign up', signup_path)  %>
    </li>

    <li>
    <%= link_to('Sign out', signout_path, :method=>'delete') %>
    </li>

    <li>
    <%= link_to('Contact', contact_path)  %>
    </li>

    <li>
    <%= link_to('Help', help_path)  %>
    </li>

    <li>
    <%= link_to('About Us', about_path)  %>
    </li>

    <li>
    <%= link_to('Products', products_path)  %>
    </li>
</ul>